* {
  font-family: "Roboto", sans-serif;
}

legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  border: 1px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.2rem 0.25rem;
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* Firefox */
  color: hsl(213, 73%, 50%);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  width: 300px;
  height: 30px;
}

.flex-column2 img {
  width: 500px;
}

select {
  background: url("../public/images/down-arrow-svgrepo-com.svg") no-repeat center right 0.75rem;
  background-size: 16px;
}

main {
  margin: auto;
  width: 1200px;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-container {
  justify-content: center;
  margin: 1rem;
  align-items: center;
  width: 600px;
  margin-left: 300px;
}

.top-container input {
  margin-right: 10px;
}

input {
  margin: 2px;
}

.osoba {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 150px;
  margin-top: -30px;
  margin-left: 10px;
}

.btn {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  /* margin-top: 20px;
  margin-left: 400px; */
  text-decoration: none;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}

.btn-add {
  padding: 0.5rem 3rem;
  margin-bottom: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px black solid;
}

.btn-add:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}

.half {
  display: flex;
  flex-direction: row;
}

h4 {
  width: 100px;
}
/* 
.section-imperativo h4 {
  margin-top: -10px;
}

.section-imperativo h5 {
  margin-top: -10px;
}

.section-condizionale {
  padding-bottom: 4rem;
} */

span {
  display: none;
}

/* a:link,
a:visited {
  background-color: #333;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #fff;
  color: #333;
  border: 0.1px #333 solid;
} */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.flex-column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column1 a {
  width: 180px;
  margin: 2rem;
}
.flex-column2 {
  margin: 2rem;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -10rem;
  margin-bottom: 5rem;
}

.search-results div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem 2rem;
  width: 200px;
  margin: 0.5rem;
}

.search-results button {
  margin: 5px;
  border: 1px black solid;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.log-in-btn {
  margin: 5px;
  border: 1px black solid;
  padding: 5px 10px;
  color: white;
  background-color: #000;
  cursor: pointer;
}

.log-in-btn:hover {
  background-color: #fff;
  color: #000;
}
.navbar {
  display: flex;
  align-items: flex-start;
}

#edit-button {
  background-color: #3d9970;
}

#delete-button {
  background-color: #ff4136;
}

#czasownik-search-edit {
  width: 300px;
}

.log-off-btn {
  margin-left: auto;
}
.checkbox-wrapper-32 {
  --size: 20px;
  --border-size: 2px;

  position: relative;
}

.checkbox-wrapper-32 *,
.checkbox-wrapper-32 *::after,
.checkbox-wrapper-32 *::before {
  box-sizing: border-box;
}

.checkbox-wrapper-32 input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
}

.checkbox-wrapper-32 input[type="checkbox"],
input[type="radio"],
.checkbox-wrapper-32 label::before {
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-wrapper-32 label {
  display: inline-block;
  position: relative;
  padding: 0 0 0 calc(var(--size) + 7px);
  font-size: small;
}

.checkbox-wrapper-32 label::before {
  content: "";
  border: var(--border-size) solid #000;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.checkbox-wrapper-32 input[type="checkbox"]:checked + label::before {
  opacity: 1;
}
.checkbox-wrapper-32,
input[type="radio"]:checked + label::before {
  opacity: 1;
}

.checkbox-wrapper-32 svg {
  position: absolute;
  top: calc(50% + var(--border-size));
  left: var(--border-size);
  width: calc(var(--size) - (var(--border-size) * 2));
  height: calc(var(--size) - (var(--border-size) * 2));
  margin-top: calc(var(--size) / -2);
  pointer-events: none;
}

.checkbox-wrapper-32 svg path {
  stroke-width: 0;
  fill: none;
  transition: stroke-dashoffset 0.2s ease-in 0s;
}

.checkbox-wrapper-32 svg path + path {
  transition: stroke-dashoffset 0.2s ease-out 0.2s;
}

.checkbox-wrapper-32 input[type="checkbox"]:checked ~ svg path {
  stroke-dashoffset: 0;
  stroke-width: calc(var(--size) / 2);
}
.checkbox-wrapper-32 input[type="radio"]:checked ~ svg path {
  stroke-dashoffset: 0;
  stroke-width: calc(var(--size) / 2);
}

.zwrotne_checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  margin-left: 2rem;
  align-items: center;
  justify-content: space-around;
}
.zwrotne_checkboxes div {
  margin: 1rem;
}

/* Dots Loading Animation */
.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

.all-verbs {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-group-item {
  border: 2px solid #333;
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: #333;
  margin: 0.3rem;
}

.list-group-item:hover {
  color: #000;
  cursor: pointer;
}
